.header{
    width:100%;
    height:fit-content;
    background-color:black ;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius:20px;
    



}
.heading{
    margin-left:20px ;

}

ul{
    display:flex;
    list-style:none ;
    gap:10px;
    margin-right:20px;
}

