.product{
    width:300px;
    height:450px;
    background-color:rgb(69, 65, 65);
    color: aliceblue;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    border-radius:20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
      
      

    
}
.product img{
    width:300px;
    height: 300px;
    border-radius:20px ;


}
.allproduct{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 176, 176);
    border-radius: 10px ;
    
}
span{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:30px;
    
}
button{
    background-color:rgb(90, 106, 66);
    color: aliceblue;

}
button:hover{
    background-color:rgb(100, 133, 47) ;
}